.root {
  position: absolute;
  max-height: 100vh;
  width: 100vw;
  overflow: auto;
}

.square {
  position: relative;
  width: 512px;
  height: 512px;
  background-color: crimson;
  margin-top: 4rem;
  margin-left: 4rem;
}
